.menuLeft {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.label {
    margin-left: 0px;
    justify-self: center;
    text-align: left;
    text-transform: none;
    color: antiquewhite;
}

.selected {
    background-color: #25da3d7c !important;
}
