git+https://github.com/littlebee/basic_bot.git@main

adafruit-circuitpython-vl53l1x
aiohttp
aiohttp-cors
aiortc
cffi
flake8>=7.3.0
mypy
pyflakes>=3.4.0
opencv-python
pycparser
pydub
pygame
pytest
pyttsx3
scipy
sounddevice
