@import "../vars.css";

.dateline {
    position: relative;
    width: 200px;
    height: 100%;
    margin-top: 10px;
}

.lineBackground {
    position: absolute;
    left: 10px;
    height: 100%;
    width: 50px;
    background-color: #1d1d1d32;
}

.window {
    position: absolute;
    width: 70px;
    background-color: var(--color-time-window);
    border: 1px solid var(--color-time-window-border);
}

.activityMarker {
    position: absolute;
    background-color: var(--color-activity-background);
    border-top: 1px solid var(--color-activity-border);
    width: 50px;
}

.playhead {
    position: absolute;
    background-color: var(--color-playhead);
    width: 70px;
    height: 2px;
}
