@import "../vars.css";

.backdrop {
    background-color: var(--color-dialog-backdrop);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.dialog {
    position: relative;
    width: 900px;
    border: 1px solid var(--color-dialog-frame);
    background-color: var(--color-dialog-content);
    color: var(--color-black);
    overflow: hidden;
    opacity: 0.98;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-dialog-md);
}

.dialogTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-dialog-content);
    border-top-left-radius: var(--radius-dialog-md);
    border-top-right-radius: var(--radius-dialog-md);
}

.dialogContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    padding: 10px;
    position: relative;
    height: 80vh;
    margin-bottom: 10px;
}

.filterAndSearch {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.listAndPlayer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.videoContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.closeButton {
    cursor: pointer;
    font-size: var(--font-size-dialog-button);
    padding: 5px;
}
