@import "../vars.css";

.timeline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
    overflow: hidden;
    margin-top: 10px;
    height: 80px;
    width: 100%;

    background-color: var(--color-time-window);
    border: 1px solid var(--color-time-window-border);
}

.thumb {
    position: absolute;
    background-color: var(--color-activity-background);
    border-top: 1px solid var(--color-activity-border);
    height: 90%;
}
