@import "../vars.css";

.dateline {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 170px;
    height: 100%;
    margin: 10px 10px 0px 0px;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.lineBackground {
    flex-grow: 1;
    position: relative;
    left: 10px;

    width: 50px;
    background-color: #1d1d1d32;
}

.window {
    position: absolute;
    width: var(--width-dateline-selection);
    background-color: var(--color-time-window);
    border: 1px solid var(--color-time-window-border);
}

.dragSelection {
    position: absolute;
    width: var(--width-dateline-selection);
    background-color: var(--color-date-drag-select);
    border: 2px solid var(--color-primary);
    border-radius: 2px;
    pointer-events: none;
    z-index: 10;
}

.activityMarker {
    position: absolute;
    background-color: var(--color-activity-background);
    width: 50px;
    min-height: 2px;
}

.playhead {
    position: absolute;
    background-color: var(--color-playhead);
    width: var(--width-dateline-selection);
    height: 2px;
}

.rangeDate {
    font-size: 12px;
    color: var(--color-text);
}

.divisionDate {
    font-size: 12px;
    border-top: 1px solid var(--color-text-subdued);
    width: 100%;
    color: var(--color-text-subdued);
    position: absolute;
    right: 0px;
    text-align: right;
}
